    <section class="container-fluid w-75">
        <div class="row justify-content-center">
            <p style="color: white;">Welcome, {{username}}</p>
        </div>
        <div class="row justify-content-center" id="clock-container">
            <div class="col-sm-8 col-lg-5 p-3" id="clock-module">
                <div class="card">
                    <!--
                    <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <input type="radio" name="task" id="task" onclick="toggleTimerDisplay(true)" checked> Task Timer
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="break" id="break" onclick="toggleTimerDisplay(false)"> Break Timer
                        </label>
                    </div>-->
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="task-tab" data-toggle="tab" href="#taskTimer" role="tab" aria-controls="taskPage" aria-selected="true">Task Timer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="break-tab" data-toggle="tab" href="#breakTimer" role="tab" aria-controls="breakPage" aria-selected="false">Break Timer</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="taskTimer" role="tabpanel" aria-labelledby="taskPage">
                        <div class="row justify-content-center">
                            <div class="nav flex-row">
                                <p class="mr-1">Current Task: </p>
                                <p id="currentTaskName">No Task</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="nav flex-column justify-content-center">
                                <button type="button" class="btn btn-info btn-circle btn-sm" id="minutePlusBtnTask" onclick="Clock.incrementTaskInterval()">+</button>
                                <button type="button" class="btn btn-info btn-circle btn-sm" id="minuteMinusBtnTask" onclick="Clock.decrementTaskInterval()">-</button>
                            </div>
                            <h1 class="display-1" id="taskTimerDisplay"></h1>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="breakTimer" role="tabpanel" aria-labelledby="breakPage">
                        <div class="row justify-content-center">
                            <div class="nav flex-column justify-content-center">
                                <button type="button" class="btn btn-info btn-circle btn-sm" id="minutePlusBtnBreak" onclick="Clock.incrementBreakInterval()">+</button>
                                <button type="button" class="btn btn-info btn-circle btn-sm" id="minuteMinusBtnBreak" onclick="Clock.decrementBreakInterval()">-</button>
                            </div>
                            <h1 class="display-1" id="breakTimerDisplay"></h1>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-2">
                    <button id="skip-break" class="btn btn-outline-warning" onclick = "Clock.toggleSkipBreak()">Skip Break</button>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div id="start_button">
                            <button type="button" onclick="toggleStartStopButtons()" class="btn btn-outline-success" id="start">START</button>
                        </div>
                        <div id="stop_button" hidden>
                            <button type="button" class="btn btn-outline-secondary" id="pause" onclick="togglePause()">PAUSE</button>
                            <button type="button" class="btn btn-outline-danger" id="stop" onclick="toggleStartStopButtons()">STOP</button>
                        </div>
                    </div>
                    <button class="btn btn-info btn-circle btn-sm help-button" data-toggle="modal" data-target="#howToPanel">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- this appears to not be working -->
            <p>{{first_name}}</p>
        </div>

        <button class="help-button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
        </svg></button>
    </section>
    {{#if loggedIn}}
    <section class="container-fluid w-75" id="taskQueueTable">
        <div class="row justify-content-center">
                <select id="taskSelector">
                    <option value="0" selected>Select A Task</option>
                    {{#each task as |t|}}
                    <option value={{{t.id}}},{{{t.categoryid}}},{{{t.task_time}}},{{{t.break_time}}}>{{{t.name}}}</option>
                    {{/each}}
                </select>
            <input type="button" id="addToQueueBtn" value="Add task to queue">
        </div>
        <div class="row justify-content-center">
            <input type="button" data-toggle="modal" data-target="#newTaskModal" value="Create a new task">
        </div>
    
        <div class="row justify-content-center">
            <table border="3px solid white" style="color:white" id="taskList">
                <tr style="height:22px">
                <th style="width: 200px">Task</th>
                <th style="padding: 0 5px 0 5px">Category</th>
                <th style="padding: 0 5px 0 5px">Pomodoros</th>
                <th style="padding: 0 5px 0 5px">Task Time</th>
                <th style="padding: 0 5px 0 5px">Break Time</th>
                </tr>
                <tr style="height:22px">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </table><br>
        </div>
    </section>
    {{/if}}
    <div id="newTaskModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a New Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="newTaskModalBody" class="modal-body">
               <form id="newTaskForm" class="form">
                <label style="color:white" for="newTaskName">Task:</label><br>
                <input class="form-control" type="text" id="newTaskName" name="newTaskName"><br>
                <label style="color:white" for="newTaskCategory">Category:</label><br>
                <select class="form-control" name="newTaskCategory" id="newTaskCategory">
                <option value="0" selected>Select A Category</option>
                    {{#each category as |c|}}
                    <option value={{{c.id}}}>{{{c.name}}}</option>
                    {{/each}}
                </select>
                
                <button type="button" class="btn btn-info btn-circle btn-sm" id="addNewCategoryBtn" onclick="toggleNewCategory()">+</button>
                <br>
                <div id="addNewCategory" hidden>
                    <label style="color:white" for="newCategoryInput">Create a New Category:</label><br>
                    <input type="text" id="newCategoryInput" name="newCategoryInput" placeholder="Ex: Health and Fitness">
                </div>
                <br>
                <label style="color:white" for="newTaskPomodoros">Pomodoros:</label><br>
                <input type="number" id="newTaskPomodoros" name="newTaskPomodoros"><br>
                <label style="color:white" for="newTaskTime">Task Time: (mins)</label><br>
                <input type="number" id="newTaskTime" name="newTaskTime"><br>
                <label style="color:white" for="newBreakTime">Break Time: (mins)</label><br>
                <input type="number" id="newBreakTime" name="newBreakTime"><br>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="default" data-dismiss="modal">Cancel</button>
                <button type="button" class="primary" id="addNewTask">Save</button>
            </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="howToPanel" tabindex="-1" role="dialog" aria-labelledby="howToPanel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                Instructions
                            </div>
                            <div class="modal-body">
                                How to be more productive with our app:
                                Start by deciding how much time you'd like to spend on a task. Then use the 
                                + and - buttons to change the timer to match. Click on break timer and do the same thing
                                based on how long you'd like to rest after your focus session. Once you hit start, get to 
                                work! If you're logged in, using the pause and stop buttons during an active session will 
                                deduct points from your productivity score, so try and stay on task to score big!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
                            </div>
                        </div>
                    </div>
                </div>
        
    </section>
